# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\wuviv\OneDrive\Documents\BCIT CST Fall 2020\COMP 4981\Lecture Code\fifo-code\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
